.vscode
dev
docs
docs-src
node_modules
src/test
src/docs-components
docs-components
test
.eleventy.cjs
.eslintrc.json
.gitignore
.prettierrc.json
CONTRIBUTING.md
custom-elements.json
example.png
karma.conf.cjs
rollup.config.js
tsconfig.json